<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="find">
            <h1>Find number</h1>
            <form action="/find" method="post">
                <label for="">Enter a full name</label>
                <br/>
                <input type="text" name="findUserFullName" required>
                <br/>
                <br/>
                <button type="submit" class="button">Find</button>
            </form>
        </div>
        <div class="add">
            <h1>Add number</h1>
            <form action="/add" method="post" >
                <label for="">Enter a full name</label>
                <br/>
                <input type="text" name="userFullName" class="userFullName" required>
                <br/>
                <br/>
                <label for="">Enter a number</label>
                <br/>
                <input type="tel" name="userNum" class="userNamber" maxlength="13" minlength="12" required>
                <br/>
                <br/>
                <button type="submit" class="button">Save</button>
            </form>
        </div>
        <div class="nayavni">
             {{#if arrayUsersNames.length}}
                <h1>Available phone numbers</h1>
                {{#each arrayUsersNames}}
                     <li class="todo">
                        {{name.firstName}}  {{name.lastName}} 
                     </li>
                 {{/each}}
            {{/if}}
        </div>
        <div class="foundUsers">
            <h1>Found Users</h1>

             {{#if findUserBoolean}}
             <div class="user">
             <span>{{foundUser.name.firstName}} {{foundUser.name.lastName}} : {{foundUser.number}}</span> 
             <br/>
             <br/>
             {{!-- <form action="/delete" method="delete">  <button type="submit" class="buttonDel">Delete</button></form> --}}
             <div class="buttonDel">Delete</div>
             <br/>
             <form action="/updateRenderPage" method="get"><button type="submit" class="button">Update</button></form>
             </div>
             {{else }}
             <p>No user found</p>
             {{/if}}

        </div>
    </div>
    <script src="deleteUser.js"></script>
    
</body>
</html>