<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="find">
            <h1>Find number</h1>
            <form action="/find" method="post">
                <label for="">Enter a first name</label>
                <br/>
                <input type="text" name="findUserFN" required>
                <br/>
                <br/>
                <label for="">Enter a last name</label>
                <br/>
                <input type="text" name="findUserLN" required>
                <br/>
                <br/>
                <button type="submit" class="button">Save</button>
            </form>
        </div>
        <div class="add">
            <h1>Add number</h1>
            <form action="/add" method="post" >
                <label for="">Enter a first name</label>
                <br/>
                <input type="text" name="userFN" required>
                <br/>
                <br/>
                <label for="">Enter a last name</label>
                <br/>
                <input type="text" name="userLN" required>
                <br/>
                <br/>
                <label for="">Enter a number</label>
                <br/>
                <input type="text" name="userNum" required>
                <br/>
                <br/>
                <button type="submit" class="button">Save</button>
            </form>
        </div>
        <div class="nayavni">
             {{#if usersN.length}}
                <h1>Available phone numbers</h1>
                {{#each usersN}}
                     <li class="todo">
                        {{name.firstname}}  {{name.lastname}} 
                     </li>
                 {{/each}}
            {{/if}}
        </div>
        <div class="foundUsers">
            {{#if fin}}
            <h1>Found Users</h1>
             {{#each findUser}}
            <span>{{name.firstname}}  {{name.lastname}} </span> :  {{number}}
             {{/each}}
             {{else}}
             <h1>Found Users</h1>
             <p>No user found</p>
             {{/if}}
        </div>
    </div>

</body>
</html>